---
import "../styles/style.css"

import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Bliv_frivillig from "../components/Bliv_frivillig.astro"
import Video from "../components/Video.astro"
import Info from "../components/Info.astro"
import Tilmeld from "../components/Tilmed.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<Header />
	<Hero />
<Bliv_frivillig />
<Video />
<Info />
<Tilmeld />
<Footer />
</body>
</html>
