---

---



<div class="menu_grid">
<img src="img/logo.svg" alt="" style="height: 50px;">
<div class="menu_textbox">
<a class="menu_text" href="#omos">Om os</a>
<a class="menu_text" href="#formbody">Bliv frivillig</a>
</div>
</div>
<style>
.menu_grid{
   display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #FFF6E2;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;

 align-items: center;
 top: 0
 
}

.menu_textbox{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    gap: 10px; 
    top: 21;
  
    transform: scale(1.2);
   

}
.menu_text{
   display: inline-block
    font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: black;
font-weight: 700;
font-size: 16px;
transition: transform 0.3s; 
    


}

.menu_text:hover{
    transform: scale(1.1);
}

</style>