---
---
<div>
    <img class="headerstor" src="img/headerstor.webp" alt="headerstor">
    <a class="blevfrivillig" href="#">BLEV FRIVILLIG</a>
</div>

<style>
img{
width: 100%;
height: auto;
}

.blevfrivillig {
    position: absolute; 
    top: 32vw; 
    left: 50vw; 
    transform: translate(-50%, -50%); 
    background-color: #60C5BB;
    color: rgb(0, 0, 0);
    padding: 8px 14px;
    border-radius: 8px;
   text-decoration: dashed;
}



</style>