---
---
<div>
    <img src="img/headerstor.webp" alt="headerstor">
    <p>BLEV FRIVILLIG</p>
</div>

<style>
    p{

        background-color: #60C5BB;
        color: rgb(0, 0, 0); 
        padding: 8px 14px; 
        display: inline-block; 
        border-radius: 8px; 

    }


</style>