---
---
<div>
    <img class="headerstor" src="img/headerstor.webp" alt="headerstor">
    <img class="headerlille" src="img/headerlille.webp" alt="headerlille">
    <a class="blevfrivillig" href="#formbody">BLIV FRIVILLIG</a>
    <a class="blevfrivilliglille" href="#formbody">BLIV FRIVILLIG</a>
</div>

<style>
img{
width: 100%;
height: auto;
}

.headerlille{
    height: 110vw;
    object-fit: cover;
}
.blevfrivillig {
    position: absolute; 
    top: 32vw; 
    left: 50vw; 
    transform: translate(-50%, -50%); 
    background-color: #60C5BB;
    color: rgb(0, 0, 0);
    padding: 8px 14px;
    border-radius: 8px;
   text-decoration: dashed;
}
.blevfrivilliglille{
    position: absolute; 
    top: 90vw; 
    left: 50vw; 
    transform: translate(-50%, -50%); 
    background-color: #60C5BB;
    color: rgb(0, 0, 0);
    padding: 8px 14px;
    border-radius: 8px;
   text-decoration: dashed;  
}
@media (max-width: 800px) {
  .headerstor {
    display: none;
  }
  .blevfrivillig{
    display: none;
  }
}
@media (min-width: 800px) {
  .headerlille {
    display: none;
  }
  .blevfrivilliglille{
    display: none;
  }
}
</style>