---
---

<div id="omos">
    <h3>HVEM ER VI?</h3>
    <hr style="border: 0.1px solid #D9D9D9;">
    <p>Pårørende Netværket er en <span>social frivillig rådgivningsorganisation</span>, der henvender sig til familier berørt af <span>afhængighed</span>. Foreningen arbejder for at skabe bedre vilkår for sin målgruppe gennem frivillig akutrådgivning, individuelle samtaleforløb, terapeutiske gruppeforløb og afvikling af projekter såsom landsdækkende <span>julehjælp, oplæg og pårørendefællesskaber</span>.</p>
</div>


<div>
    <h3>FRIVILLIG HOS OS</h3>
    <hr style="border: 0.1px solid #D9D9D9;">
    <p>Pårørende Netværket – misbrugsportalen søger frivillige rådgivere, der ønsker at støtte mennesker med misbrugsrelaterede udfordringer, hvad enten det drejer sig om <span>alkohol</span>-, <span>stof</span>- eller <span>medicinmisbrug</span>. som frivillig rådgiver bliver du en del af et fagligt stærkt fællesskab af frivillige med erfaring inden for social- og sundhedsområdet, terapeuter, tidligere pårørende og misbrugskonsulenter. Vores rådgivning er <span>landsdækkende</span> og foregår online, men fællesskabet er <span>nærværende og støttende</span>, uanset hvor du bor.</p>
</div>

<div>
    <h3>KOM MED TIL INTROMØDET</h3>
    <hr style="border: 0.1px solid #D9D9D9;">
    <ul>
        <li>Skab meningsflide forbindelser og bliv en del af et <span>varmt og fagligt fællesskab</span> af dedikerede frivillige fra hele landet.</li>
        <li>Få et <span>meningsflidt og givende</span> frivilligjob, hvor du direkte oplever den forandring, du skaber for familier.</li>
        <li>Bliv støttet i din opstart af en personlig mentor, og få altid <span>råd fra erfarne ledere og kollegaer</span>.</li>
        <li>Få et fleksibelt skema som rådgiver, som du selv er med til at tilrettelægge.</li>
        <li>Udvikl dine <span>empatiske</span> og <span>faglige</span> færdigheder og få et <span>plus på dit CV</span>.</ul>
        </ul>
</div>



<style>

    div{
        margin-bottom: 8rem;
        margin-left: 10%;
        margin-right: 10%;

    }
    p {
    hyphens: auto;
    overflow-wrap: break-word;   
    font-size: 1.5rem;
    margin-top: 0.8rem;
}
li{
    font-size: 1.5rem;
}
/* li::marker{
    font-size: 1.4;
} */
h3{
    font-size: 2rem;
    margin-bottom: 1.3rem;
}
span{
    color: #36857D;
}

</style>